<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/CSS/data.css" rel="stylesheet">
    <title>Converted</title>
</head>

<body>
    <div id="one">
        <div id="none">
            <h1>Image</h1>
            <img src="{{ usr_img }}" alt="picture">
        </div>
        <div id="none">
            <h1>Text</h1>
            <h3>{{ final_text }}</h3>
        </div>
        <div id="audio">
            <h4><span>Speech : </span>Please click on mic to here</h4>
            <button id="icon" onclick="play()"><i class="fa fa-microphone" aria-hidden="true"></i></button>
        </div>
    </div>
    <div id="logo">
        <h1>BRAILLE</h1>
    </div>

    <div id="button-div">
        <a href="/"><button class="back-button">Go back</button></a>
    </div>
    <script>
        function play(){
            let sound = new Audio();
            sound.src = "{{ usr_audio }}";
            sound.play();
        }
    </script>
</body>

</html>