<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/CSS/index.css" rel="stylesheet">
    <title>Home page</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div id="form-div">
        <h2>Braille Converter</h2>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div id="fakeDiv">
                <label><span onclick="document.getElementById('selectedFile').click();"
                        id="buttonImage">Choose</span></label>
                <input type="file" id="selectedFile" name="image" />
                <input type="text" id="fakeInput" placeholder="choose image...." />
            </div>
            <div id="button-div">
                <input type="submit" name="button" value="convert" id="button">
            </div>
        </form>
    </div>

    <div id="img-div">
    </div>

    <div id="text-div">
    </div>

    <div id="audio-div">
    </div>
    <div id="logo">
        <h1>BRAILLE</h1>
    </div>
    <script>
        $('#selectedFile').change(function () {
            var a = $('#selectedFile').val().toString().split('\\');
            $('#fakeInput').val(a[a.length - 1]);
        });

    </script>
</body>

</html>